// font
$font-html: Arial, Helvetica, sans-serif;

// font-size
$font-size-calendar__day: 30px;

// colors
$background-color-calendar__day: #eee;
$color-border-calendar__day: black;

// width-padding-height
$width-calendar: 707px;
$padding-calendar: 10px;
$width-calendar__day: 100px;
$height-calendar__day: 100px;

// flex
$gap-calendar: 1px;
